:root {
    --primary-color : #06206a;
    --secondary-color:#fff;
    --padding:20px;
    --third-color:#BADa55;
}
h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding)
}
p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding:var(--padding);
}
#example-one{
    margin:10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: #bada55;
}
#example-two{
    margin:10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #BADa55;
}
#example-three{
    margin:10px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background:url(../images/bglines.PNG);
}
#example-four{
    margin:10px;
    width: 150px;
    height: 150px;
    border-radius: 10px/30px;
    background:#BADa55
}
#example-five{
    margin:10px;
    width: 150px;
    height: 150px;
    border-radius: 5px 60px;
    background:var(--third-color);
}
#example-six{
    margin:10px;
    width: 150px;
    height: 150px;
    border-radius: 10px/30px;
    background:var(--third-color);
}


    